<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agroorganico_frontend">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <meta-data android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyACQAR3roXGa-Gbs7WpmaHFTLzHdaQ9TBw"/>
</manifest>
